@import "var.scss";
@import "global.scss";

.the-footer {
  width: 100%;
  height: $footer-height;
  margin-top:156px;
  margin-bottom: 0px;
  background-color: $theme-footer-color;
  @include layout(center, center, column);

  p {
    height: 30px;
  }
}
